@model IEnumerable<Entities.Concrete.Category>
@foreach (var item in Model)
{
    <li><a >@item.CategoryName</a>
       @Html.ActionLink("boş iş","GetProductsByCategoryId","Product",new {id=@item.Id})
    </li>
}
