@model IEnumerable<Entities.Concrete.Product>
@{
    ViewData["Title"] = "ProductsByCategoryId";
}

<h1>ProductsByCategoryId</h1>

<div class="section">
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.ProductName</li>
            }
        </ul>
    </div>
</div>