@model IEnumerable<Entities.Concrete.Category>
<div class="section">
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.CategoryName</li>
            }
        </ul>
    </div>
</div>
