@model Core.Entities.Concrete.UserOperationClaim

<div class="container">
    <h4>UserOperationClaim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserOperationClaim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationClaimId" class="control-label"></label>
                <input asp-for="OperationClaimId" class="form-control" />
                <span asp-validation-for="OperationClaimId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Home/Index">Back to List</a>
</div>
</div>

